<h5 class="mb-3">{{site.name}}</h5>

<p>Hi! The website you are previewing platform for discovering modern hijab styles, modest fashion trends, and daily outfit inspiration. Focused on simplicity and elegance, the content is designed to inspire confident and stylish looks for every occasion, supported by <a href="https://aridjaya.com/">Aridjaya</a>.</p>

<a target="_blank" href="https://www.aridjaya.com/" class="btn btn-warning d-block mb-2"><i class="fa fa-file"></i> Documentation</a>

<a target="_blank" class="btn btn-danger d-block" href="https://www.indonesiya.com/"><i class="fa fa-coffee"></i> Buy me a coffee</a> 